.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 21px;
  width: calc(100vw - 42px);
}

@media (hover: hover) {
  .header {
    width: calc(430px - 42px);
  }
}

.popupHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.messages {
  display: none;
}
