.login {
  height: calc(100dvh - 83px);
  padding: 20px;
}

@media (hover: hover) {
  .login {
    width: 430px;
  }
}

button.prepage {
  background: none;
  border: none;
  margin-top: 30px;
  margin-left: 30px;
}

h1 {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 35px;
}

.highlight {
  color: #9151f9;
}

.formgroup {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.formgroup label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.formgroup input {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

.formgroup input::placeholder {
  color: #aaa;
}

.loginsubmit {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.loginsubmit input[type="submit"] {
  width: 100%;
  max-width: 400px;
  padding: 15px 20px;
  font-size: 18px;
  color: white;
  background-color: #aaaaaa;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

.loginsubmit input[type="submit"].active {
  background-color: #9151f9;
  cursor: pointer;
}

button:hover {
  background-color: #aaaaaa;
}

.loginfail {
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}
.loginfail input[type="button"] {
  background: none;
  border: none;
  color: #aaaaaa;
  font-size: 14px;
  cursor: pointer;
}
