.mypage {
  width: 100vw;
  height: calc(100dvh - 83px);
  padding: 20px;
  overflow-y: scroll;
}

@media (hover: hover) {
  .mypage {
    width: 430px;
  }
}

.topbar {
  display: flex;
  position: flex-start;
  align-items: center;
  background-color: #f8f9fa;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 0;
  background: none;
}

.topbar h1 {
  font-size: 30px;
}

.topbar button {
  background: none;
  border: none;
  cursor: pointer;
}

.topbar img {
  width: 24px;
  height: 24px;
}

/* Middle section 스타일링 */

.profile {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.photo {
  margin-right: 20px;
  margin-left: 20px;
}

.photo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.middle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  width: 100%;
}

.middle li {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.middle li span {
  display: block;
  font-weight: bold;
}

.detail {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.detail input[type="button"] {
  text-align: center;
  background-color: #c8a6ff;
  border: none;
  color: White;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  max-width: calc(50%-40px);
  box-sizing: border-box;
  padding: 13px 40px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.detail input[type="button"]:hover {
  background-color: #9151f9;
}

/* 모달 창 스타일링 */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 350px;
  text-align: center;
  align-items: center;
  margin-left: 25px;
}

.modal h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal form input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal form .addnclose {
  width: 100%;
  padding: 10px;
  background-color: #c8a6ff;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.modal form .addnclose:hover {
  background-color: #a085d9;
}

.close {
  color: #aaa;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.profilechange,
.addstamp {
  margin: 10px 0;
}

/* 메뉴 스타일링 */

.menu-space {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-left: 20px;
  margin-top: 30px;
}

.menu {
  width: 70px;
  background-color: White;
  padding-top: 20px;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 0px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
}

.menu li {
  margin-bottom: 20px;
}

.menu button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 0;
}

.menu img {
  width: 35px; /* 이미지 너비 설정 */
  height: auto; /* 이미지 비율 유지 */
  border-radius: 0; /* 원형 틀 없애기 */
  transition: transform 0.3s; /* 호버 시 트랜지션 효과 */
  margin-right: 0;
  filter: brightness(1);
}

.stampspace {
  flex-grow: 1;
  background-color: rgba(200, 166, 255, 0.4);
  border-radius: 10%;
  width: 100%;
  margin-left: 0px;
  margin-right: 10px;
  padding: 40px 20px 60px 20px;
  position: relative;
}
.stampex {
  margin-bottom: 0;
}
.stampspace p {
  text-align: center;
  color: #9151f9;
  margin-bottom: 50px;
}
.stampaddbtn {
  position: absolute;
  background: none;
  border: none;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.stamp-img {
  width: 100px;
  height: auto;
  position: absolute;
}

.reservationbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(200, 166, 255, 0.4);
  border-radius: 10%;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 20px;
  padding: 5px;
  position: relative;
}

.reservationtitle {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.reservationimg {
  width: 110px;
  height: 110px;
  border-radius: 10%;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px; /* 이미지와 텍스트 사이의 간격 설정 */
}

.info-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.info-item {
  display: block;
  margin-bottom: 5px;
}

.info-item .label {
  font-weight: bold;
  color: #555;
  margin-right: 5px;
}

.info-item .separator {
  margin: 0 5px;
  color: #555;
}

.info-item .value {
  color: #777;
}

.scraplist {
  flex-grow: 1;
  display: flex;
  width: 100%;
  margin-left: 0;
  margin-right: 20px;
  padding: 5px;
  position: relative;
  gap: 10px;
  flex-wrap: wrap;
}

.scrapimg {
  background-color: rgba(200, 166, 255, 0.4);
  padding: 5px;
  width: calc(50% - 10px);
  height: auto;
  border-radius: 10%;
  box-sizing: border-box;
  flex: 1 1 calc(50% - 10px);
  margin-bottom: 10px;
}

.scraplist img {
  max-width: 100%;
  border-radius: 10%;
  display: block;
}
