.popupreserved {
  height: calc(100dvh - 83px);
  overflow-y: scroll;
}

.reservedComment {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rvComment {
  color: var(--1, #9151f9);
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
}

.rvReserved {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rvName {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.rvDetail {
  width: calc(100% - 136px);
  padding: 0 68px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.rvDetailText {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: right;
  gap: 4px;
  width: calc(100% - 70px);
}

.rvDetailTitle {
  display: flex;
  flex-direction: column;
  color: #aaa;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  gap: 4px;
  width: 70px;
}

.plusStoreTitle {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 80px;
  margin-left: 20px;
}

.toMyBtn {
  width: calc(100% - 40px);
  height: 50px;
  margin-left: 20px;

  border-radius: 10px;
  background: var(--2, #a065ff);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 15px;
  font-weight: 500;

  margin-top: 50px;
}

@media (hover: hover) {
  .toMyBtn {
    width: calc(430px - 40px);
  }
}
