{% extends 'frontend/phone.html' %} {% load static %} {% block title %}지도{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/map.css' %}" />
{% endblock %} {% block content %}
<div class="map">
  {% include './searchBar/searchBarMap.html' %}
  <div id="mapwrap">
    <div id="map"></div>
  </div>
</div>
{% endblock %} {% block nav %} {% include './nav/nav_map.html' %} {% endblock %} {% block js %}
<!-- Kakao 지도 API 비동기로드 -->
<script type="text/javascript">
  var map;
  var markers = [];
  var currentOverlay = null;  // 현재 표시된 오버레이를 저장할 변수

  var stores = [
      {% for store in stores %}
          {
              id: {{ store.id }},
              name: "{{ store.name }}",
              image: "{{ store.image.url }}",  // 이미지 URL
              description: "{{ store.description|safe }}",  // 설명
              latitude: {{ store.latitude }},
              longitude: {{ store.longitude }},
              address: "{{ store.address }}",  // 지역 이름
              category_name: "{{ store.category_name }}",  // 카테고리 이름
              popupstore_url: "{% url 'popplace:popupstore' store.id %}",
              start_date: "{{ store.start_date }}",
              end_date: "{{ store.end_date }}",
          },
      {% endfor %}
  ];

  document.addEventListener("DOMContentLoaded", function() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = '//dapi.kakao.com/v2/maps/sdk.js?appkey=536649895a2fca9bfd027f79ac41c3aa&libraries=services&autoload=false';
      script.onload = function() {
          kakao.maps.load(function() {
              initMap();
          });
      };
      document.head.appendChild(script);
  });

  function initMap() {
      var container = document.getElementById('map');
      var options = {
          center: new kakao.maps.LatLng(37.560869, 126.987516), // 지도의 중심좌표
          level: 8, // 지도의 확대 레벨
      };
      map = new kakao.maps.Map(container, options);
      addMarkers(stores);

      // 지도 클릭 시 현재 오버레이 숨기기
      kakao.maps.event.addListener(map, 'click', function() {
          hideCurrentOverlay();
      });
  }

  function addMarkers(filteredStores) {
      clearMarkers();
      filteredStores.forEach(function(store) {
          var markerPosition = new kakao.maps.LatLng(store.latitude, store.longitude);

          // 카테고리에 따른 마커 이미지 설정
          var markerImageSrc;
          switch (store.category_name) {
              case 'K-pop':
                  markerImageSrc = '{% static "img/kpop.png" %}';
                  break;
              case '소품':
                  markerImageSrc = '{% static "img/props.png" %}';
                  break;
              case '캐릭터':
                  markerImageSrc = '{% static "img/character.png" %}';
                  break;
              case '베이커리':
                  markerImageSrc = '{% static "img/bakery.png" %}';
                  break;
              case '코스메틱':
                  markerImageSrc = '{% static "img/cosmetic.png" %}';
                  break;
              case '음식':
                  markerImageSrc = '{% static "img/food.png" %}';
                  break;
              case '패션':
                  markerImageSrc = '{% static "img/fashion.png" %}';
                  break;
              // 다른 카테고리 추가
              default:
                  markerImageSrc = '{% static "img/perfume.png" %}';
          }

          var markerImageSize = new kakao.maps.Size(24, 35); // 마커 이미지 크기 설정
          var markerImageOption = {offset: new kakao.maps.Point(12, 35)}; // 마커 이미지의 위치 설정
          var markerImage = new kakao.maps.MarkerImage(markerImageSrc, markerImageSize, markerImageOption);

          var marker = new kakao.maps.Marker({
              position: markerPosition,
              image: markerImage, // 마커 이미지 설정
              map: map
          });

          markers.push(marker);

          var content =
              '<div class="overlayInfo">' +
              '  <a href="' + store.popupstore_url + '">' +
              '    <div class="overlayTitle">팝업 스토어<div>' +
              '    <div class="overlayPUTitle">' + store.name + '</div>' +
              '    <div class="overlayPUContent">' +
              '      <div class="infoImage" >' +
              '        <img src="' + store.image + '" alt="' + store.name + '">' +
              '      </div>' +
              '      <div class="infoContent">' +
              '        <div class="infoText">' +
              '          <p>' + store.start_date + ' - ' + store.end_date + '</p>' +
              '        </div>' +
              '        <div class="infoAddress">' +
              '          <p>' + store.address + '</p>' +
              '        </div>' +
              '      </div>' +
              '    </div>' +
              '  </a>' +
              '</div>';

          var overlay = new kakao.maps.CustomOverlay({
              position: markerPosition,
              content: content,
              yAnchor: 1,
              map: null,  // 초기에는 지도에 추가하지 않음
              clickable: true  // 클릭 가능하도록 설정
          });

          // 마커를 클릭했을 때 오버레이 표시
          kakao.maps.event.addListener(marker, 'click', function() {
              if (currentOverlay) {
                  currentOverlay.setMap(null);  // 현재 표시된 오버레이 숨기기
              }
              overlay.setMap(map);   // 새로운 오버레이 표시
              currentOverlay = overlay;  // 현재 표시된 오버레이 업데이트
          });
      });
  }

  function clearMarkers() {
      markers.forEach(function(marker) {
          marker.setMap(null);
      });
      markers = [];
      currentOverlay = null;
  }

  function hideCurrentOverlay() {
      if (currentOverlay) {
          currentOverlay.setMap(null);
          currentOverlay = null;
      }
  }
</script>
{% endblock %}
