{% extends 'frontend/phone.html' %} {% load static %} {% block title %} : 팝업스토어 후기{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/popupreview.css' %}" />
{% endblock %} {% block content %} {% include './header/header.html' %}
<div class="popupreview">
  <div class="popupImg">
    <img src="{{ popup.image.url }}" alt="{{ popup.name }}" />
  </div>
  <div class="pvQ">팝업에 다녀오셨나요? 팝업스토어를 평가해주세요!</div>
  <form action="{% url 'popplace:popupreview' popup.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="pvScore">
      <div class="pvScoreTitle">점수 :</div>
      {{ form.rate }}
      <div class="pvScoreS">점</div>
      <div class="pvScoreSub">(5점 만점)</div>
    </div>
    <!-- <div class="pvDate">
      <div class="pvDateL">팝업 방문 날짜 :</div>
      <input type="date" name="date" class="" />
    </div> -->
    <div class="pvTitleB">{{ form.title }}</div>
    <div class="pvPhotoB">
      <div id="file-in">
        <input type="file" name="image" accept="image/*" id="id_image" onchange="setImageFn(this)" />
        <div id="file-preview"></div>
      </div>
    </div>
    <div class="pvContentB">{{ form.content }}</div>
    <div class="pvQuestion">
      <p>1. 팝업스토어에서 친환경적인 요소를 경험한 것이 있나요? (예: 재활용 가능한 포장, 친환경 제품)</p>
      {{ form.sustainability_rating }}
    </div>
    <div class="pvQuestion">
      <p>2. 팝업스토어가 지역 사회에 긍정적인 영향을 미친다고 생각하시나요?</p>
      {{ form.positive_rating }}
    </div>
    <input type="submit" class="submitBtn" value="등록하기" />
  </form>
</div>
{% endblock %} {% block nav %} {% include './nav/nav_map.html' %} {% block js %}
<script>
  function setImageFn(f) {
    var file = f.files;

    if (!/\.(gif|jpg|jpeg|png)$/i.test(file[0].name)) {
      alert("gif, jpg, png 파일만 선택해 주세요.\n\n현재 파일 : " + file[0].name);

      f.value = "";

      document.getElementById("file-preview").innerHTML = "";
    } else {
      var reader = new FileReader();

      reader.onload = function (rst) {
        document.getElementById("file-preview").innerHTML = '<img src="' + rst.target.result + '">';
      };

      reader.readAsDataURL(file[0]);
    }
  }
</script>
{% endblock %} {% endblock %}
