{% extends 'frontend/phone.html' %} {% load static %} {% block title %} : 검색{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}" />
{% endblock %} {% block content %}
<div class="search">검색페이지</div>
<div class="search-container">
    <form action="{% url 'popplace:search' %}" method="GET">
        {{ form.as_p }}
        <button type="submit">검색</button>
    </form>
</div>

<div class="search-results">
    {% if results %}
        <h2>검색 결과</h2>
        <ul>
            {% for popup_store in results %}
                <li>{{ popup_store.name }} - {{ popup_store.address }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>검색 결과가 없습니다.</p>
    {% endif %}
</div>
{% endblock %} {% block nav %} {% include './nav/nav_search.html' %} {% endblock %}
